*{box-sizing: border-box; 
  margin: 0; padding: 0;
}
html, body {
    height: 100%;
}

body {
   
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(9, 9, 37);
    font-family: "calibri";
}

/*WIDGET*/
.card{
    width: 100%; 
    max-width: 1440px; 
    background-color: hsl(244, 38%, 16%);
    display: flex;
    border-radius: 8px;
}

/*SECCION TEXTOS*/
.izquierda{
    padding: 5rem 8rem 5rem 5rem;
    color:white;
    flex-basis: 50%; 
}

.title{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.title span{
    color: hsl(277, 64%, 61%);
}

.descripcion{
    color: lightgray;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.inferior{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}

.char{
    font-size: 1.5rem;
}
.char span{
    display: block; 
    font-weight: normal; 
    font-size: 1rem;
    margin-top: .5rem;
    margin-right: 5rem;
}

/*IMAGEN*/
.derecha{
    flex-basis: 50%;
    background-image: url(..//images/image-header-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 8px 8px 0;
}

/*aplicar Filtro imagen*/
.derecha::before{
    content: ""; 
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 85%, 36%, .7);
    border-radius: 0 8px 8px 0;
}


.attribution { font-size: 11px; 
               text-align: center; 
               display: block;
            }
.attribution a { color: hsl(228, 45%, 44%); }
